# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
backend/downloads/
backend/screenshots/
backend/data/
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Large Video Files
*.mp4
*.mkv
*.mov
*.wav
